XSD_Biblioteca.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">


    <xs:element name="Biblioteca">


        <xs:complexType>

            <xs:sequence>
                <xs:element name="libros" minOccurs="0" maxOccurs="unbounded">

                    <!--   LIBRO   -->
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="libro" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titulo_libro" type="xs:string" />
                                        <xs:element name="capitulos">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="capitulo" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="titulo_capitulo" type="xs:string" />
                                                                <xs:element name="contenido_libro" />
                                                                <xs:complexType>
                                                                    <xs:attribute name="enlace" type="xs:string" use="required" />
                                                                </xs:complexType>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="num_paginas" type="xs:integer" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="indice_libro" type="xs:string" />
                            <xs:element name="sinopsis" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="tipo_clase" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="novela" />
                                    <xs:enumeration value="infantil" />
                                    <xs:enumeration value="didactico" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="num_paginas" use="required" />
                    </xs:complexType>
                </xs:element>


                <!--   REVISTA  -->


                <xs:element name="revistas" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="revista" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titulo_revista" type="xs:string" />
                                        <xs:element name="indice_revista" type="xs:string" />
                                        <xs:element name="secciones_revista">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="seccion_revista" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="contenido_revista">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="enlace" type="xs:string" use="required" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="num_paginas" type="xs:integer" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="tipo_clase" use="required" />
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="informatica"></xs:enumeration>
                                            <xs:enumeration value="corazon"></xs:enumeration>
                                            <xs:enumeration value="coches"></xs:enumeration>
                                            <xs:enumeration value="investigacion"></xs:enumeration>
                                            <xs:enumeration value="otras"></xs:enumeration>
                                        </xs:restriction>
                                    </xs:simpleType>

                                    <xs:attribute name="num_paginas" type="xs:integer" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>


                <!-- PERIODICOS -->

                <xs:element name="periodicos" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="periodico" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="secciones_periodico" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="articulo" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="contenido_periodico">

                                                                    <xs:complexType>
                                                                        <xs:attribute name="enlace" type="xs:string" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="autor" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="tipo_seccion" use="required">
                                        <xs:simpleType>
                                            <xs:restriction>
                                                <xs:enumeration value="economia"></xs:enumeration>
                                                <xs:enumeration value="opinion"></xs:enumeration>
                                                <xs:enumeration value="deportes"></xs:enumeration>
                                                <xs:enumeration value="nacional"></xs:enumeration>
                                                <xs:enumeration value="internacional"></xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="tipo_clase" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="nacionales"></xs:enumeration>
                                    <xs:enumeration value="internacionales"></xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="fecha_publicacion" type="xs:date" use="required"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
                 <xs:complexType>
                     <xs:restriction base="xs:string">
                         <xs:length value="5"/>
                         <xs:pattern value="[L|P|R][0-9](4)"/>
                     </xs:restriction>
                 </xs:complexType>
        </xs:complexType>
    </xs:element>


</xs:schema>       
